/* Classes */

/* home.html bakgrund */
.home-start {
	background-image: url("images/family.jpg");
	height: 100%;
}


.backimg {
	background-image: url("images/food.jpg");
	height: 100%;
}

/* Rubrik för inline */
.headtext {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 2em;
}

/* Lilla under-headern där man väljer starter/maib/dessert etc. */
.selection {
	background: rgba(255, 255, 255, 0.6);
	padding: 1em;
}

/* Lilla bilden med maträtter */
.dish {
	/* background: rgba(255, 255, 255, 0.6); */
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Sidebar i övriga sidor */
.sidebar {
	background: rgba(255, 255, 255, 0.6);
	padding: 0.5em;
	height: 100%;
}

.bg {
	background: rgba(255, 255, 255, 0.6);
	margin-bottom: 1em;
}



/* IDs */

#dishdeets {
	display:none;
	background: rgba(255, 255, 255, 0.6);
}

#header {
	/* Överrubrik och tagline */
	margin-top: 2%;
	padding: 1em;
	background: rgba(255, 255, 51, 0.6);
	margin-bottom: 2em;
}

#info {
	/* Lilla infolådan på home.html */
	margin-top: 8%;
	margin-bottom: 40%;
	background: rgba(255, 255, 255, 0.6);
	padding: 1em;
}

#summenu {
	margin-bottom: 3em;
}

#selectionheader {
	background: rgba(180, 180, 0, 0.6);
}

#dishtype {
	display:inline-block;
	width:100px;
}

#summenurow {
	display:none;
}

#selectedDishes {
	width:100%;
}

#showDish {
	display:none;
}

#fullprepcontainer {
	display:none;
}

/* Bootstrap business */

/* Dropdown visas i rad med annat */
.dropdown {
	display: inline-block; 
}

/* Försök med fem kolumner */
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}